# torch==2.1.0 - torch is preinstalled in the image with rocm support
# bitsandbytes - some issues?
# wandb - issue with python 3.12?
tqdm
open_clip_torch==2.24.0
accelerate==0.32.0
peft
scipy
datasets[vision]
# Used for creating example dataset
tensorflow
pillow
huggingface-hub
# For API
fastapi[all]
python-multipart